
<% if @all_tratment %>

	<% @all_tratment.each do |treatment| %>

		<%= form_for :event, url: to_eliminate_path(treatment.id), class: "form-horizontal", role: "form" do |f| %>
	  	<tr>
		    <td><%= User.find(treatment.user_id).name %></td>
		    <td><%= Medicine.find(treatment.medicine_id).name %></td>
		    <td><%= treatment.event.start.strftime('%d-%B-%Y  %I:%M %p') %></td>
		    <td><%= treatment.event.end.strftime('%d-%B-%Y') %></td>
		    <td><%= Medicine.find(treatment.medicine.id).dose %> <%= Medicine.find(treatment.medicine.id).presentation_to_take %> each <%=Medicine.find(treatment.medicine.id).dose_every %>hrs</td>
		    
		    <td><%= f.submit 'Eliminate Treatment', class: "btn btn-primary" %></td>
	  	</tr>
		<% end %>
	<% end %>


<% elsif @one_treatment %>


	<%= form_for :event, url: to_eliminate_path(@one_treatment.id), class: "form-horizontal", role: "form" do |f| %>

	  <tr>
	    <td><%= User.find(@one_treatment.user_id).name %></td>
	    <td><%= Medicine.find(@one_treatment.medicine_id).name %></td>
	    <td><%= @one_treatment.event.start.strftime('%d-%B-%Y  %I:%M %p') %></td>
	    <td><%= @one_treatment.event.end.strftime('%d-%B-%Y') %></td>
	    <td><%= Medicine.find(@one_treatment.medicine.id).dose %> <%= Medicine.find(@one_treatment.medicine.id).presentation_to_take %> each <%=Medicine.find(@one_treatment.medicine.id).dose_every %>hrs</td>
	    
	    <td><%= f.submit 'Eliminate Treatment', class: "btn btn-primary" %></td>
	  </tr>
	<% end %>


<% end %>