
<header>
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">

    <nav> 
        <ul class="nav navbar-nav navbar-left">
            <li><img id="logo_fig" src="/assets/clock.png" width="40" height="40" /></li>
            <li><%= link_to "The Drug Station", '#', id: "logo" %></li>
        </ul>
    </nav>

    <nav>
        <ul class="nav navbar-nav navbar-right">

            <li><%= link_to "Home", root_path %></li>
            <% if logged_in? %>

                <% if current_user.admin %>
                    <li><%= link_to "Users", registred_path %></li>
                    <li><%= link_to "Records", record_path %></li>
                <% end %>

                <li class="dropdown">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user">My_Account<b class="caret"></b></a> 
                
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><%= link_to "Profile", current_user %></li>
                    <li><%= link_to "Settings", '#' %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Log out", logout_path, method: :delete %></li>
                </ul>
                </li>



            <% else %>
                <li><%= link_to "Log in", login_path %></li>
            <% end %>
        </ul>
    </nav>
    </div>
</header>

